<!DOCTYPE html>
{% extends 'Base.html' %}
{% block content %}
<div class="container">
    <h3 class="text-center text-success" style="margin-bottom:20px;">Name Of Customer : {{user}}</h3>
    <center>
        <table class="table table-bordered " style="width:75%">
            {% for i in s %}
<!--            <tr><th colspan="6" class="text-center">{{i.product}}</th></tr>-->
            <tr>
                <td><img src="{{i.product.image.url}}" height="220px" width="300px"></td>
                <td>
                    <h6 class="text-center text-danger">Product Name : {{i.product}}</h6>
                    <h6 class="text-center ">Quantity : {{i.noofitems}}</h6>
                    <h6 class="text-center ">Delivery Address : {{i.place}}</h6>
                    <h6 class="text-center ">Phone Number : {{i.phone}}</h6>
                    <h6 class="text-center ">Order Status : {{i.order_status}}</h6>
                    <h6 class="text-center ">Delivery Status : {{i.delivery_status}}</h6>
                    <h6 class="text-center ">Ordered On : {{i.date_added}}</h6>
                    <h6 class="text-center ">Total Amount : {{i.subtotal}}</h6>
                </td>
            </tr>
            {% endfor %}

        </table>
    </center>



</div>

{% endblock %}